/* NekoRuntime. Design by FluffyCuteOwO */

/*-- Подключение шрифтов --*/
@font-face {
  font-family: "Manrope Bold";
  src: url("./Manrope-Bold.ttf");
}
@font-face {
  font-family: "Manrope ExtraBold";
  src: url("./Manrope-ExtraBold.ttf");
}
@font-face {
  font-family: "Manrope ExtraLight";
  src: url("./Manrope-ExtraLight.ttf");
}
@font-face {
  font-family: "Manrope Light";
  src: url("./Manrope-Light.ttf");
}
@font-face {
  font-family: "Manrope Medium";
  src: url("./Manrope-Medium.ttf");
}
@font-face {
  font-family: "Manrope Regular";
  src: url("./Manrope-Regular.ttf");
}
@font-face {
  font-family: "Manrope SemiBold";
  src: url("./Manrope-SemiBold.ttf");
}

/* global */
#layout {
  -fx-background-color: #232323;
}

.transparent {
  -fx-background-color: transparent;
}
/* global */

/* header */
#content {
  -fx-background-color: #1e1e1e;
}

.px8 {
  -fx-background-radius: 8px 0 0 0;
}

#brandLabel {
  -fx-font-family: "Manrope Bold";
  -fx-font-size: 12px;
  -fx-text-fill: #ffffff;
}

#minimizeColor:hover {
  -fx-background-color: #282828;
  -fx-opacity: 1;
}

#exitColor:hover {
  -fx-background-color: #e81123;
  -fx-opacity: 1;
}

#backLabel {
  -fx-font-family: "Manrope Bold";
  -fx-text-fill: rgba(255, 255, 255, 0.5);
  -fx-font-size: 10px;
}

#back:hover,
#kill:hover {
  -fx-opacity: 1;
}

#brandLogo {
  -fx-background-image: url("../images/icons/logo14.png");
  -fx-background-size: cover;
}
/* header */

/* left pane */
#hello {
  -fx-font-size: 12px;
  -fx-font-family: "Manrope Bold";
  -fx-text-fill: rgba(255, 255, 255, 0.5);
}

#nickname {
  -fx-font-size: 14px;
  -fx-font-family: "Manrope ExtraBold";
  -fx-text-fill: #ffffff;
}

#serverName {
  -fx-font-size: 14px;
  -fx-font-family: "Manrope ExtraBold";
  -fx-text-fill: #ffffff;
}

#descPoint {
  -fx-font-size: 10px;
  -fx-font-family: "Manrope SemiBold";
  -fx-text-fill: rgba(255, 255, 255, 0.5);
}

.buttonPane {
  -fx-background-color: #2e2e2e;
  -fx-background-radius: 6px;
}

.buttonPane:hover {
  -fx-opacity: 1;
  -fx-background-color: #2d2d2d;
}

.buttonText {
  -fx-font-size: 10px;
  -fx-font-family: "Manrope SemiBold";
  -fx-text-fill: rgba(255, 255, 255, 0.51);
}

/*-- Заголовки --*/
#dialogHeader,
#headingUpdate,
#headingDialog,
#headerDescription {
  -fx-text-fill: #ffffff;
  -fx-font-family: "Manrope Bold";
  -fx-font-size: 16px;
}

#playButton {
  -fx-background-image: url("../images/components/play.png");
  -fx-background-radius: 6px;
  -fx-background-size: cover;
}

#downloadButton {
  -fx-background-image: url("../images/components/download.png");
  -fx-background-radius: 6px;
  -fx-background-size: cover;
}

#updateButton {
  -fx-background-image: url("../images/components/update.png");
  -fx-background-radius: 6px;
  -fx-background-size: cover;
}

#preClient,
#preClientUpdate {
  -fx-text-fill: rgba(255, 255, 255, 0.5);
  -fx-font-size: 8px;
  -fx-font-family: "Manrope Bold";
}

#postClient,
#postClientUpdate {
  -fx-text-fill: #ffffff;
  -fx-font-size: 10px;
  -fx-font-family: "Manrope ExtraBold";
}

#launchClient:hover,
#downloadClient:hover {
  -fx-opacity: 1;
}

/* check-box элементы */
.check-box {
  -fx-text-fill: #ffffff;
  -fx-font-size: 14px;
  /* -fx-font-family: "Manrope Bold"; */
  /* -fx-background-color: #2E2E2E; */
  -fx-background-radius: 6px;
  -fx-background-size: 14 14;
  -fx-background-position: 16 36;
  -fx-background-image: url("../images/icons/checkbox1_off.png");
  -fx-background-repeat: no-repeat;
  -fx-label-padding: 0 0 0 0;
  -fx-alignment: center-left;
}
.check-box .mark {
  -fx-background-color: transparent;
}
.check-box .box {
  -fx-background-color: transparent;
}
.check-box:selected {
  -fx-background-color: transparent;
  -fx-background-image: url("../images/icons/checkbox1_on.png");
  -fx-background-repeat: no-repeat;
}
.check-box:selected .mark {
  -fx-background-color: transparent;
}
.check-box:selected .box {
  -fx-background-color: transparent;
}

.check-box:hover {
  -fx-opacity: 1;
  -fx-background-color: #2d2d2d;
}

Button,
CheckBox,
ComboBox,
RadioButton {
  -fx-cursor: hand;
}

/*-- Шрифты --*/
.root {
  -fx-font-family: "Manrope ExtraBold";
}

/*-- Скругление блоков и кнопок --*/
.b-5 {
  -fx-border-radius: 5px;
}
.b-10 {
  -fx-border-radius: 10px;
}
.b-20 {
  -fx-border-radius: 20px;
}

/*-- Управление прозрачностью --*/

/* (тех. Кнопки) */
.invisible {
  -fx-opacity: 0;
}
.visible {
  -fx-opacity: 1;
}

/*-- Иконки --*/
.header-button {
  -fx-fill: transparent;
  -fx-stroke: -fx-header;
  -fx-stroke-width: 1px;
}
.header-button-text {
  -fx-font-size: 10px;
  -fx-fill: -fx-header;
  -fx-align-items: center;
  -fx-font-weight: bold;
}

.icon-button-color {
  -fx-fill: -fx-header;
}
.icon-button-error {
  -fx-fill: -fx-red;
}

#money {
  -fx-font-weight: normal;
  -fx-font-size: 12px;
  -fx-text-fill: -fx-black2C;
}
#avatar {
  -fx-background-position: center;
  -fx-background-color: transparent;
  -fx-font-smoothing-type: lcd;
}

/*-- Кнопка отправить --*/
.send-button-text {
  -fx-font-weight: bold;
  -fx-font-size: 12px;
  -fx-text-align: center;
  -fx-fill: -fx-header;
}
.send-button-text:hover,
.send-button-text:pressed {
  -fx-fill: -fx-header-hover;
}

/*-- Контекстное меню --*/
.context-menu {
  -fx-background-color: -fx-whiteG;
  -fx-background-insets: 0;
  -fx-padding: 5px;
  -fx-text-fill: -fx-black2C;
  -fx-background-radius: 5px;
}
.menu-item {
  -fx-background-radius: 0px;
}
.menu-item:hover,
.menu-item:focused {
  -fx-background-color: -fx-grayLTr;
}
.menu-item > .graphic-container {
  -fx-padding: 0em 0.333em 0em 0em;
}
.menu-item .label {
  -fx-text-fill: -fx-black2C;
}
.menu-item:focused .label {
  -fx-text-fill: -fx-black2C-hover;
  -fx-font-weight: bold;
}

/* Скролл панели */
#scroll-pane {
  -fx-background-color: transparent;
}
.scroll-pane {
  -fx-background-color: transparent;
}
.scroll-pane .viewport {
  -fx-background-color: transparent;
}
.scroll-pane .content {
  -fx-background-color: transparent;
}
.scroll-bar:horizontal,
.scroll-bar:vertical {
  -fx-background-color: transparent;
}
.increment-button,
.decrement-button,
.increment-arrow,
.decrement-arrow {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color: -fx-black2C-hover;
  -fx-background-radius: 10;
  -fx-padding: 10 0 0 0px;
  -fx-background-insets: 0, 0, 0, 10;
}
.scroll-bar {
  -fx-font-size: 6px;
}
.scroll-pane > .corner {
  -fx-background-color: transparent;
}

/* choice-box элементы */
.choice-box .context-menu {
  -fx-background-color: -fx-whiteG;
  -fx-pref-width: 130px;
}
.choice-box .menu-item:focused {
  -fx-background-color: -fx-violet;
}
.choice-box .menu-item > .label {
  -fx-text-fill: -fx-black2C;
}
.choice-box .menu-item:focused > .label {
  -fx-text-fill: -fx-white;
}
.choice-box {
  -fx-background-color: -fx-whiteG;
  -fx-mark-color: -fx-whiteG;
}
.choice-box > .label {
  -fx-text-fill: -fx-whiteG;
}

/* combo-box элементы */
.combo-box {
  -fx-background-color: -fx-grayLDTr;
  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
  -fx-background-radius: 5px;
  -fx-padding: 5;
  -fx-text-fill: -fx-black2C;
  -fx-alignment: CENTER;
  -fx-content-display: LEFT;
}
.combo-box .list-cell {
  -fx-text-fill: -fx-black2C;
}
.combo-box-popup .list-view {
  -fx-background-color: -fx-gray;
}
.combo-box-popup .list-view .list-cell {
  -fx-text-fill: -fx-black2C;
  -fx-padding: 5;
  -fx-background-color: -fx-gray;
}
.combo-box-popup .list-view .list-cell:filled:selected,
.combo-box-popup .list-view .list-cell:filled:selected:hover {
  -fx-background-color: -fx-grayTr;
  -fx-text-fill: -fx-black2C-hover;
  -fx-font-weight: bold;
}
.combo-box-popup .list-view .list-cell:filled:hover {
  -fx-background-color: -fx-grayTr;
  -fx-text-fill: -fx-black2C-hover;
}
.combo-box-popup .list-cell {
  -fx-background-color: -fx-whiteG;
  -fx-text-fill: -fx-black2C;
}
.combo-box .arrow {
  -fx-background-color: transparent;
}
.combo-box .arrow-button {
  -fx-background-image: url("../images/icons/checkbox_arrow_button.png");
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
  -fx-background-position: center center;
  -fx-background-size: 50% 25%;
}
/* NekoRuntime. Design by FluffyCuteOwO */
